<div class="d-flex flex-column flex-sm-row mt-2">
    <div class="mr-4">
        <img class="rounded-circle pt-2 mb-2" src="{{ .Site.BaseURL }}/images/{{ .Site.Params.profile.photo }}" alt="{{ .Site.Params.author }}"
            style="width: 150px;" />
        {{ partial "social.html" . }}
    </div>

    <div>
        <h1 class="text-white mb-1">{{ .Site.Params.profile.name }}</h1>
        <h3 class="text-light">{{ .Site.Params.description }}</h3>
        <p class="text-white">{{ .Site.Params.aboutme.description | markdownify }}</p>
    </div>
</div>