<div class="d-flex flex-column flex-sm-row mt-2">
  <div class="mr-4">
    <script src="{{ .Site.BaseURL }}/src/sada_main.js"></script>
    <img
      class="rounded-circle"
      src="{{ .Site.BaseURL }}/images/{{ .Site.Params.profile.photo }}"
      alt="{{ .Site.Params.author }}"
      style="width: 150px;"
    />
    <h3 onclick="toggleTheme()">
      <a class="text-white" href="#"><i class="fas fa-yin-yang"></i></a>
    </h3>
  </div>

  <div>
    {{ partial "social.html" . }}
    <h1 class="text-white mb-1">{{ .Site.Params.profile.name }}</h1>
    <h3 class="text-light">{{ .Site.Params.description }}</h3>
    <p class="text-white">
      {{ .Site.Params.aboutme.description | markdownify }}
    </p>
  </div>
</div>
