<head>
  <title>{{ .Site.Params.title }}</title>

  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta name="description" content="{{ .Site.Params.description }}" />
  <meta name="author" content="{{ .Site.Params.author }}" />

  {{ partial "linkCSS" . }}
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css"
  />

  <script>
    const toggleTheme = (el) => {
      const html = document.querySelector("html");
      if (el.classList.contains("fa-moon")) {
        el.classList.remove("fa-moon");
        el.classList.add("fa-sun");
        html.classList.add("dark");
      } else {
        el.classList.remove("fa-sun");
        el.classList.add("fa-moon");
        html.classList.remove("dark");
      }
    };
  </script>
  
</head>
